### Intellij Project Files ###
/**/out/
/.idea/
*.iml

### Gradle Files ###
/**/build/
/.gradle/
/gradle.properties/

### Generated Source Files ###
/**/src/generated/

### Important or Sensitive Files ###
/keys/
